[*.cs]
dotnet_diagnostic.CA1822.severity = warning
dotnet_style_readonly_field = true:suggestion
dotnet_diagnostic.CA1724.severity = warning
csharp_namespace_declarations = file_scoped
[*]
indent_size = 4
indent_style = space